* {
    margin: 0;
    padding: 0;
  }
  
  :root {
    --label-icon: url("../img/icons8-yoda-144.png");
    --star-wars: url("../img/light.com.png"); 
  }
  
  .dark-mode {
    --bg-cor: black;
    --fonte-cor: #ffffff;
    --label-icon: url("../img/icons8-darth-vader-144.png");
    --star-wars: url("../img/dark.com.png");
  }
  
  body {
    background: var(--bg-cor);
    color: var(--fonte-cor);
    font-family: 'Cinzel', serif;
    font-size: 38px;
    user-select: none; 
    transition: 2s;
    user-select: none;
  }
  
  .container {
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .mudar-tema {
    position: absolute;
    top: 4%;
    left: 2%;
    background-image: var(--label-icon); 
    background-repeat: no-repeat;
    padding: 67px;
    cursor: pointer; 
  }
  
  #btn {
    display: none;
  }
  
  .lightning-saber {
    background-image: var(--star-wars);
    background-size: cover;
    width: 450px;
    height: 350px;    
    position:relative;
    background-position: top;
    
  }